<div class="page" class="backhome" data-name="home">
  <!-- Fixed/Dynamic Navbar -->
  <div class="navbar">
    <div class="navbar-inner sliding">
       
       <div class="left">
                    
             </div>    
 

      <div class="title">Sistema Integral para Infracciones</div>

    </div>
  </div>
  <div class="page-backhome page-content">
   <div class="page-content2">
    <div class="block">

    <div class="row">
        <h3 class="ola">Tipo de Vehiculo </h3>
    </div>

     <div class="row">

     </div>
     <br>

     <div class="row">
    <button class="col button button button-raised button-fill red" onclick="app.Placa2()"><i class= 
     "app-icon icon-user-plus"></i>MOTOCICLETA</button>
     </div> 
      <div class="row">
    <button class="col button button button-raised button-fill red" onclick="app.Placa()"><i class= 
     "app-icon icon-user-plus"></i>PARTICULAR</button>
     </div>           
     <div class="row">
    <button class="col button button button-raised button-fill red" onclick="app.Placa3()"><i class=
      "app-icon icon-user-plus"></i>S.P Y S.P.F</button>
     </div>
     
</div>