<div class="page" data-name="placa2">
  <!-- Fixed/Dynamic Navbar -->
  <div class="navbar">
    <div class="navbar-inner sliding">
      <div class="left">
        <a class="link back">
          <i class="icon icon-back"></i>
          <span class="ios-only">Back</span>
        </a>
      </div>
      <div class="title">Sistema Integral para Infracciones</div>
    </div>

  </div>
   <div class="page-content page-content2">
    <div class="block">

    <div class="center">
        <h3 class="white">Indique lo que se pide</h3>
    </div>


     <div class="row">
       <span class="col button button button-raised button-fill red" id="time"></span>
    </div>

    <div class="row"> 
    FOLIO:<input  type="text" id="_folio"  name="_folio" value= "" />
    </div>

     <div class="row">
     <input type="text" id="_fecha"  name="_fecha" class="form-control" value="" readonly/>
     </div>

     <div class="row3">
<select name="Subject" id="_causa" onchange="salta(this.form)">
<option selected> Causa de la Infraccion
<option value="Estacionarse en doble Fila<br>
  Articulo 67 | 4 UMAS">Estacionarse en doble Fila

<option value="Estacionarse en lugar no permitido <br>
  Articulo 67 | 4 UMAS">Estacionarse en lugar no permitido
<option value="Manejar a exceso de velocidad <br> Articulo 98 | 12 UMAS ">Manejar a exceso de velocidad
<option value="No respetar el semaforo  <br> Articulo 47 | 5 UMAS">No respetar el semaforo
<option value="Vuelta en lugar prohibido <br> Articulo 37 | 4 UMAS">Vuelta en lugar prohibido 
<option value="Circular en contraflujo <br> Articulo 37 | 4 UMAS">Circular en contraflujo
<option value="Transitar sobre banquetas, en sentido contrario o invadir carril  <br> Articulo 100 | 12 UMAS">Transitar sobre banquetas, en sentido contrario o invadir carril  
<option value="Invasion del paso peatonal <br> Articulo 67 | 4 UMAS  ">Invasion del paso peatonal
<option value="Falta de uso del casco <br> Articulo 106 | 7 UMAS ">Falta de uso del casco
<option value="Exceder el numero de personas <br> Articulo 106 | 7 UMAS">Exceder el numero de personas
<option value="Transportar a menores de 4 años <br> Articulo 106 | 7 UMAS">Transportar a menores de 4 años
<option value="Transportar a menores de 6 años <br> Articulo 106 | 7 UMAS">Transportar a menores de 6 años
<option value="Uso de distractores <br> Articulo 98 | 12 UMAS ">Uso de distractores
  <option value="Conducir de forma peligrosa o negligente <br> Articulo 100 | 20 UMAS ">Conducir de forma peligrosa o negligente
</select>
</div>
<br>
   <div class="row3">
<select name="Subject" id="_causa2" onchange="salta(this.form)">
<option selected> 
<option value="<b> Falta cometida 2:</b><br>Estacionarse en doble Fila<br>
  Articulo 67 <br><br> <b> Costo: </b>  | 4 UMAS">Estacionarse en doble Fila

<option value="<b> Falta cometida 2:</b><br> <br>Estacionarse en lugar no permitido <br>
  Articulo 67 <br><br> <b> Costo: </b>  | 4 UMAS">Estacionarse en lugar no permitido
<option value="<b>Falta cometida 2:</b><br> <br>Manejar a exceso de velocidad <br> Articulo 98 <br>  <br><b>Costo:</b>| 12 UMAS ">Manejar a exceso de velocidad
<option value="<b>Falta cometida 2:</b> <br>  <br>No respetar el semaforo  <br> Articulo 47 <br><br> <b> Costo:</b>| 5 UMAS">No respetar el semaforo
<option value="<b>Falta cometida 2:</b>  <br> <br>Vuelta en lugar prohibido <br> Articulo 37 <br><br> <b> Costo:</b> | 4 UMAS">Vuelta en lugar prohibido 
<option value="<b>Falta cometida 2:</b>  <br> <br>Circular en contraflujo <br> Articulo 37 <br> <br><b> Costo:</b> | 4 UMAS">Circular en contraflujo
<option value="<b>Falta cometida 2: </b> <br> <br>Transitar sobre banquetas, en sentido contrario o invadir carril  <br> Articulo 100 <br><br><b> Costo: </b> | 12 UMAS">Transitar sobre banquetas, en sentido contrario o invadir carril  
<option value="<b>Falta cometida 2:</b> <br> <br>Invasion del paso peatonal <br> Articulo 67<br><br><b> Costo:</b> | 4 UMAS  ">Invasion del paso peatonal
<option value="<b>Falta cometida 2: </b> <br> <br>Falta de uso del casco <br> Articulo 106 <br> <br> <b>Costo:</b> | 7 UMAS ">Falta de uso del casco
<option value="<b>Falta cometida 2:</b> <br> <br>Exceder el numero de personas <br> Articulo 106 <br> <br> <b> Costo:</b>| 7 UMAS">Exceder el numero de personas
<option value="<b>Falta cometida 2:</b> <br> <br>Transportar a menores de 4 años<br> Articulo 106 <br> <br> <b> Costo:</b>| 7 UMAS">Transportar a menores de 4 años
<option value="<b>Falta cometida 2:</b> <br> <br>Transportar a menores de 6 años  <br>Articulo 106 <br><br> <b> Costo:</b>| 7 UMAS">Transportar a menores de 6 años
<option value="<b>Falta cometida 2:</b> <br> <br>Uso de distractores <br> Articulo 98 <br> <br> <b> Costo: | 12 UMAS ">Uso de distractores
<option value="<b>Falta cometida 2:</b> <br> <br>Conducir de forma peligrosa o negligente <br> Articulo 100 <br> <br> <b> Costo:</b> | 20 UMAS ">Conducir de forma peligrosa o negligente
</select>
</option>
</div>
<br>
  <div class="row3">
<select name="Subject" id="_lugar" onchange="salta(this.form)">
<option selected> Lugar de la infraccion
<option value="Francisco Zarabia">Francisco Zarabia
<option value="Cuauhtemoc">Cuauhtemoc
<option value="Moctezuma">Moctezuma
<option value="Francisco I Madero">Francisco I Madero
<option value="Miguel Hidalgo">Miguel Hidalgo
<option value="Boulevard Emilio Sanchez Piedras">Boulevard Emilio Sanchez Piedras
<option value="Boulevard la Libertad">Boulevard la Libertad
<option value="Manuel Avila Camacho">Manuel Avila Camacho
<option value="Aquiles Serdan">Aquiles Serdan
<option value="Avenida Juarez">Avenida Juarez
<option value="Avenida 5 de Mayo">Avenida 5 de Mayo
</select>
</div>
<br>
     <br>
     <div class="row">
     <input type="text" name="Subject" placeholder="Carteristicas de la Unidad " id="_caracteristicas" ></input>
     </div>
     <div class="row">
     <input type="text" name="Subject" placeholder="Numero de Placas " id="_placa" ></input>
     </div>
    <div class="row">
     <input type="text" name="Subject" placeholder="Nombre del conductor" id="_persona" ></input>
     </div>
<div class="row3">
<select name="Subject" id="_garantia" onchange="salta(this.form)">
<option selected> Garantia
<option value="Licencia de Conducir">Licencia de Conducir
<option value="Placa">Placa
<option value="Automovil">Automovil
</select>
</div>
<br>
<div class="row">
            
            <a id="img" class="col button button button-raised button-fill red" href="" onclick="capturePhoto();">
            <center><i class="fa fa-camera fa-5x"></i></center>
                Tomar Foto
            </a>

          </div>
          
          <div class="row">
          <center><img style="display:none;width:50%;height:50%;" id="smallImage" src="" /></center>
          
          </div>
          
     


        <div class="row">
          <button class="col button button button-raised button-fill red" onclick="app.placas()"><i class="app-icon icon-user-plus">&#xe801;</i>enviar</button>
        </div> 
        <div class="row">
          <button class="col button button button-raised button-fill red" onclick="app.RegisterAccess2()"><i class="app-icon icon-user-plus">&#xe801;</i>Cancelar</button>
        </div>

    </form> 
          
    
    </div>
  </div>
</div>

</div>